body{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient( 135deg, #FDEB71 10%, #F8D800 100%);
}

header{
    background-color: orange;
    padding:10px;
    border-radius: 50px;
}

h1{
    color: white;
}

a img {
    width: 30px;
    border-radius: 50px;
    background-color: white;
}

a{
    background-color: lightseagreen;
    padding: 5px;
    border-radius: 50px;
}

footer{
    margin: 30px;
    background-color: orange;
    width: 100%;
    text-align: center;

}
